p.version {
    color: #3e487b;
    font-weight: 700;
}


h3.NewsHeader {
    font-size: 190%;
    color: #3e487b;
    font-weight: 600;
    text-align: center;
}


p.changes {
    transition: 3s;
    font-size: 120%;
    color: #152367;
}


p.info {
    transition: 2s;
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
}

p.info:hover {
    transition: 7s;
    filter: blur(12px);
}

embed.hwdata {
    transition: 3s;
    width: 320px;
    height: 440px;
    border: 3px solid #424242;
    border-radius: 12px;
    background-color: lightgray;
}


@media (min-height: 700px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 320px;
        height: 440px;
        border: 3.2px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}


@media (min-width: 800px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 700px;
        height: 420px;
        border: 3px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}


@media (min-width: 980px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 800px;
        height: 460px;
        border: 3px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}

@media (min-width: 1250px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 940px;
        height: 520px;
        border: 3px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}

@media (min-width: 1380px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 1100px;
        height: 610px;
        border: 4px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}

@media (min-width: 1580px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 1300px;
        height: 760px;
        border: 4px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}

@media (min-width: 1800px) {
    embed.hwdata {
        transition: 1.8s;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 1600px;
        height: 790px;
        border: 5px solid #424242;
        border-radius: 15px;
        background-color: lightgray;
    }
}

input.homework {
    transition: 1.8s;
    color: rgb(56, 58, 62);
    height: 18px;
}


select.fach {
    transition: 1.2s;
    width: 125px;
    height: 22px;
    color: white;
    background-color: #4b6db0c8;
    border: 2px solid #2b5099a8;
    border-radius: 4.5px;
}

select.fach:hover {
    transition: 0.5s;
    background-color: #4768a9f9;
    border: 2px solid #212e4a;
    border-radius: 4.5px;
}


select.date {
    margin-bottom: 12px;
    transition: 1.2s;
    width: 95px;
    height: 22px;
    color: white;
    background-color: #2a2a2a48;
    border: 2px solid #74747494;
    border-radius: 4.5px;
}

select.date:hover {
    transition: 0.5s;
    background-color: #5f5f5fd2;
    border: 2px solid #343434f9;
}

::placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

input.submit {
    border-radius: 6px;
    transition: 1s;
}

input.submit:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.448), 0 6px 8px 0 rgba(0, 0, 0, 0.448);
    background-color: rgba(28, 147, 70, 0.471);
    border: 2px solid rgb(47, 255, 92);
}


img.HWImage {
    transition: 2.4s;
    height: 150px;
    width: 160px;
    margin-top: 20px;
}

img.HWImage:hover {
    transition: 7s;
    filter: blur(120px);
}


div.mdl-spinner {
    vertical-align: baseline;
    margin-left: 15px;
    height: 20px;
    width: 20px;
}


div.mdl-progress {
    width: auto;
    transition: 0.8s ease-out;
}

::-webkit-progress-bar:-ms-input-placeholder::content::before {
    -moz-box-direction: calc(auto + x min-height);
}

img.qr-share {
    height: 120px;
    width: 120px;
    margin-top: 40px;
    margin-left: 50px;
}

img.qr-share:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.205), 0 8px 10px 0 rgba(0, 0, 0, 0.288);
}


p.qr-text {
    margin-left: 44px;
}


button.urlBtn {
    margin-top: 10px;
    width: 250px;
}


button.settingBtn {
    margin-top: 10px;
    width: 300px;
}


button.clearBtn {
    background-color: #e2131350;
    font-weight: 600;
}

button.clearBtn:hover {
    transition: 0.3s;
    background-color: #fb0202;
    color: white;
}

p.stand {
    margin-top: 5px;
    color: #5c5c5c;
}


div.sysinfo {
    height: 140px;
    width: 294px;
    border: 3px solid lightblue;
}

z {
    color: rgb(67, 168, 67);
}